@model AircraftReservationSystem.Models.ViewModels.FlightInformation




<div class="row " style="margin-right: 0; margin-left: 0;">
    <div class="col-md-6 mx-auto">
        <div class="mt-3">
            <h4>Add Airport</h4>

        </div>
        <div class="card">
            <div class="card-body shadow-lg">

                <form asp-action="AddFlight" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group mt-1">
                        <label asp-for="FlightNumber">Flight Number:</label>
                        <input asp-for="FlightNumber" class="form-control mt-1" />
                        <span asp-validation-for="FlightNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-1">
                        <label asp-for="DepartureAirportId">Departure Airport:</label>
                        <select asp-for="DepartureAirportId" asp-items="@ViewBag.Airports" class="form-control mt-1" ></select>
                        <span asp-validation-for="DepartureAirportId" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-1">
                        <label asp-for="ArrivalAirportId">Arrival Airport:</label>
                        <select asp-for="ArrivalAirportId" asp-items="@ViewBag.Airports" class="form-control mt-1"></select>
                        <span asp-validation-for="ArrivalAirportId" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-1">
                        <label asp-for="DepartureDate">Departure Date:</label>
                        <input asp-for="DepartureDate" class="form-control mt-1" />
                        <span asp-validation-for="DepartureDate" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-1">
                        <label asp-for="ArrivalDate">Arrival Date:</label>
                        <input asp-for="ArrivalDate" class="form-control mt-1" />
                        <span asp-validation-for="ArrivalDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="Price">Price:</label>
                        <input asp-for="Price" class="form-control mt-1" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="BusinessPrice">Business Price:</label>
                        <input asp-for="BusinessPrice" class="form-control mt-1" />
                        <span asp-validation-for="BusinessPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1">
                        <label asp-for="AircraftId">Aircraft:</label>
                        <select asp-for="AircraftId" asp-items="@ViewBag.Aircrafts" class="form-control mt-1"> </select>
                        <span asp-validation-for="AircraftId" class="text-danger"></span>
                    </div>

                    <div class="button-group mt-1">
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary btn-block">Back to List</a>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary btn-block mt-1" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
}
