@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.nav-item-hover {
    border-bottom: 2px solid transparent; /* Set your desired border style */
    transition: border-bottom-color 0.3s ease;
}

    .nav-item-hover:hover {
        border-bottom-color: #fff;
    }

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display:flex;
    flex-direction:column;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    margin-top: 1vh;
}

#mainContainer {
    display:flex;
    flex-direction:column;
    flex: 1;
}