html {
    position: relative;
    min-height:100%;
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-item-hover {
    border-bottom: 2px solid transparent; /* Set your desired border style */
    transition: border-bottom-color 0.3s ease;
}

    .nav-item-hover:hover {
        border-bottom-color: #fff;
    }





.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    margin-top: 1vh;
}
