@model AircraftReservationSystem.Models.ViewModels.SearchFlight
<head>
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
</head>

<div class="homepage">
    <div class="container mt-5">
        <div class="row justify-content-center" id="cardContainer">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Flight Search</h5>

                        <form>
                            <div class="row">
                                <div>
                                    <input type="radio" asp-for="IsOneWay" value="true" onchange="IsOneWayOrNot()"> <span>One way</span>
                                    <input type="radio" asp-for="IsOneWay" value="false" onchange="IsOneWayOrNot()"> <span>Round trip</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="DepartureAirport" class="form-label" >Departure Airport</label>
                                        <input asp-for="DepartureAirport" type="text" class="form-control" list="departureAirportOptions" id="departureAirport" oninput="SearchDepartureAirport()" placeholder="Enter Departure Airport" autocomplete="off">
                                        <datalist id="departureAirportOptions">
                                        </datalist>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="ArrivalAirport" class="form-label">Arrival Airport</label>
                                        <input asp-for="ArrivalAirport" type="text" class="form-control" id="arrivalAirport" list="arrivalAirportOptions" oninput="SearchArrivalAirport()" placeholder="Enter Arrival Airport" autocomplete="off">
                                        <datalist id="arrivalAirportOptions">
                                        </datalist>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="OutboundFlightDate" class="form-label">Start Date</label>
                                        <input type="date" class="form-control" id="startDate">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3" id="endDateContainer">
                                        <label asp-for="ReturnFlightDate" class="form-label">End Date</label>
                                        <input type="date" class="form-control" id="endDate">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/js/Homepage.js"></script>
}