@model AircraftReservationSystem.Models.ViewModels.FlightVM
>

@{
    ViewData["Title"] = "Index";
}
<h1>Flight Information</h1>

<form asp-action="Index" method="post">
    <div>
        <label asp-for="DepartureAirport">Departure Airport:</label>
        <input asp-for="DepartureAirport" />
        <span asp-validation-for="DepartureAirport"></span>
    </div>

    <div>
        <label asp-for="ArrivalAirport">Arrival Airport:</label>
        <input asp-for="ArrivalAirport" />
        <span asp-validation-for="ArrivalAirport"></span>
    </div>
    <div class="form-floating mb-3 d-flex align-items-center">
        <input asp-for="DepartureDate" class="form-control" type="date" autocomplete="departureDate" aria-required="true" />
        <label asp-for="DepartureDate"></label>
        <span asp-validation-for="DepartureDate" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 d-flex align-items-center">
        <input asp-for="ArrivalDate" class="form-control" type="date" autocomplete="arrivalDate" aria-required="true" />
        <label asp-for="ArrivalDate"></label>
        <span asp-validation-for="ArrivalDate" class="text-danger"></span>
    </div>
    <button type="submit">Submit</button>
</form>
