@model AircraftReservationSystem.Models.ViewModels.AircraftVM




<div class="row " style="margin-right: 0; margin-left: 0;">
    <div class="col-md-6 mx-auto">
        <div class="mt-3">
            <h4>Add Aircraft</h4>

        </div>
        <div class="card">
            <div class="card-body shadow-lg">

                <form asp-action="AddAircraft" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group mt-1">
                        <label asp-for="AircraftTypeId">Flight Number:</label>
                        <input asp-for="AircraftTypeId" class="form-control mt-1" />
                        <span asp-validation-for="AircraftTypeId" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-1">
                        <label asp-for="AirlineId">Departure Airport:</label>
                        <input asp-for="AirlineId" class="form-control mt-1" />
                        <span asp-validation-for="AirlineId" class="text-danger"></span>
                    </div>

                    <div class="button-group mt-1">
                        <div class="form-group">
                            <a asp-action="Index" class="btn btn-secondary btn-block">Back to List</a>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary btn-block mt-1" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
}
